<div class="module module--article-list">
    {{#if archiveMode}}
    <div class="page"><h1 class="module__title">Work Archive</h1></div>
    {{/if}}

    <div class="article-list"></div>

    {{#if archiveAvailable}}
    <div class="page"><a href="/work/archive" class="button">View Archived Work</a></div>
    {{/if}}
</div>
