<section class="home body-text">
    <div class="container">
        <div class="home__content">
            <h2 class="h1 home__title">Hi, I'm <span class="heading__highlight">Jon Higgins</span>.</h2>
            <h2 class="h1 home__title">I work as a <span class="heading__highlight">front-end developer</span> because...</h2>

            <div class="home__text-animation" style="display:none;">
                <div class="animation__block">
                    <div class="shape shape--3d">
                        <div class="shape__side"><h2 class="h1 shape__text">I</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">and</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">I</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">and</h2></div>
                    </div>
                </div>
                <div class="animation__block">
                    <div class="shape shape--3d">
                        <div class="shape__side"><h2 class="h1 shape__text">love</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">enjoy</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">am partial to</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">first-rate</h2></div>
                    </div>
                </div>
                <div class="animation__block">
                    <div class="shape shape--3d">
                        <div class="shape__side"><h2 class="h1 shape__text">learning</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">experimenting.</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">collaboration,</h2></div>
                        <div class="shape__side"><h2 class="h1 shape__text">production.</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
