<section class="home body-text">
    <div class="container">
        <div class="home__content home__content--sr">
            <h1>Jon Higgins - a front-end developer based in Birmingham, UK</h1>
        </div>
        <div class="home__content home__content--animation">
            <div class="home__text-animation">
                <div class="animation__block">
                    <div class="shape">
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                    </div>
                </div>
                <div class="animation__block">
                    <div class="shape">
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                    </div>
                </div>
                <div class="animation__block">
                    <div class="shape">
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                        <div class="shape__side"><span class="heading h1 shape__text"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
