<div class="article__date">{{item.date}}</div>
<div class="article__title">{{item.title}}</div>
<figure class="article__image"><img src="assets/img/{{item.images}}" alt="" /></figure>
<div class="article__description">{{item.description}}</div>
