// ====
// Animations
// ====

    // Fades
    // ----

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    // Swipes
    // ----

    @keyframes swipeHorizontal {
        0% {
            transform: scale(0, 1);
        }
        100% {
            transform: scale(1, 1);
        }
    }

    // Scrolling
    // ----

    @keyframes scrollThrough--Small {
        50% {
            transform: translateY(-33.3%);
        }
        75% {
            transform: translateY(0%);
        }
        75.6% {
            transform: translateY(0%);
        }
    }

    @keyframes scrollThrough--Large {
        50% {
            transform: translateY(-66.6%);
        }
        75% {
            transform: translateY(0%);
        }
        75.6% {
            transform: translateY(0%);
        }
    }
