// ====
// Article Item
// ====

    // Article item
    // ----

    .article-item {

        $paddingHeaderFooterLarge: 65 / 1049 * 100%;

        margin-bottom: rem(48);
        position: relative;

        .article-item__link {
            display: block;
            border-bottom: 0;

            &:hover {
                background: none;
            }
        }

        .article-item__header,
        .article-item__footer {
            background-color: $colourBrightYellow;
            position: relative;
            margin: 0 rem(-$gutterSmall);
            padding: 0 rem($gutterSmall);
            @extend  %grid__col--l;
            @extend  %grid__col--l--3--c;
        }

        .article-item__header {
            padding-bottom: rem(60);
            margin-bottom: rem(-60);
        }

        .article-item__footer {
            padding-top: rem($gutterSmall);
            padding-bottom: rem($gutterSmall);
        }

        .article-item__date {
            margin-bottom: em(12, $fontSizeBody);
        }

        .article-item__image {
            @extend %grid__col--l--3;
            position: relative;
            z-index: 1;
            mix-blend-mode: multiply;
            margin: 0;
            color: $colourLightGrey;
        }

        .article-item__title {
            margin: 0;
            padding: rem($gutterSmall) 0 rem(18);
        }

        .outline {

            pointer-events: none;
            position: absolute;


            span {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                &:nth-child(1) {
                    border-left: 3px solid;
                }
                &:nth-child(2) {
                    border-top: 3px solid;
                }
                &:nth-child(3) {
                    border-right: 3px solid;
                }
                &:nth-child(4) {
                    border-bottom: 3px solid;
                }
            }
        }


        // Custom article-items
        // ----





        // Responsive: Medium
        // ----

        @media screen and (min-width: $bpMedium) {
            .article-item__header,
            .article-item__footer {
                margin-left: rem(-$gutterMedium);
                margin-right: rem(-$gutterMedium);
                padding-left: rem($gutterMedium);
                padding-right: rem($gutterMedium);
            }

            .article-item__footer {
                padding-top: rem($gutterMedium);
                padding-bottom: rem($gutterMedium);
            }

            .article-item__title {
                padding-top: rem($gutterMedium);
                padding-bottom: rem($gutterMedium * 0.75);
            }

        }

        // Responsive: Large
        // ----

        @media screen and (min-width: $bpLarge) {

            margin-top: rem(48);
            margin-bottom: rem(72);
            padding-top: rem(48);
            padding-bottom: rem(48);

            .article-item__image {
                position: absolute;
                top: rem(-24);
                bottom: rem(-24);
                right: 0;
                overflow: hidden;
            }

            .article-item__header,
            .article-item__footer {
                margin: 0;
                padding-right: $paddingHeaderFooterLarge;
            }

            .article-item__header {
                padding-bottom: 0;
                &:before {
                    content: none;
                }
            }

            .article-item__footer {
                padding-top: 0;
            }

            // Reverse direction
            &:nth-child(even) {
                direction: rtl;
                .article-item__image {
                    right: auto;
                    left: 0;
                }

                .article-item__header,
                .article-item__footer,
                .article-buttons {
                    margin: 0;
                    padding-left: $paddingHeaderFooterLarge;
                    padding-right: rem($gutterLarge);

                    * {
                        direction: ltr;
                        text-align: right;
                    }
                }
            }

            // Custom article-items
            // ----

            &.article-item--land-rover-visual-identity-refresh {
                .article-item__image {
                    overflow: visible;
                }
            }
        }


        @media screen and (min-width: $bpExtraExtraLarge) {


            // Custom article-items
            // ----

            &.article-item--land-rover-visual-identity-refresh {
                margin-bottom: 10vw;
            }
        }
    }
