// ====
// Font faces only
// ====

@font-face {
    font-family: "Boing";
    src: url('../fonts/BoingWEB.woff2') format('woff2'),
         url('../fonts/BoingWEB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
