// ====
// Grid
// ====
//
// NOTE: no whitespace between grid columns (inline-block issue)
//
// e.g
// <div class="grid__row grid__row--fixed">
//     <div class="grid__col--l grid__col--l--1"><span>a</span></div><div class="grid__col--l grid__col--l--1"><span>a</span></div><div class="grid__col--l grid__col--l--1"><span>a</span></div><div class="grid__col--l grid__col--l--1"><span>a</span></div><div class="grid__col--l grid__col--l--1"><span>a</span></div><div class="grid__col--l grid__col--l--1"><span>a</span></div>
// </div>

    // Fixed grid (visible in browser)
    // ----

        .grid__row--fixed {
            position: fixed;
            left: rem($gutterSmall);
            right: rem($gutterSmall);
            height: 100%;
            z-index: 500;
            pointer-events: none;

            span {
                display: block;
                background: rgba(255,0,0,0.25);
                height: 100vh;
                position: relative;

                &:after {
                    content: '';
                    width: rem($gridMarginSmall);
                    position: absolute;
                    background-color: rgba(255,255,255,0.25);
                    top: 0;
                    left: 50%;
                    height: 100%;
                    margin-left: rem(-$gridMarginSmall / 2);
                }
            }
        }

        .grid__col--l {
            @extend %grid__col--l
        }


        .grid__col--l--1 {
            @extend %grid__col--l--1;
        }


    // Columns
    // ----

    .grid__col {
        padding:0 rem($gridMarginSmall / 2);
        display: inline-block;
    }

    // Responsive
    // ----

    @media screen and (min-width: $bpLarge) {

        // Rows
        // ----
        .grid__row {
            white-space: nowrap;
            margin:0 rem(-$gridMarginSmall);

            > * {
                white-space: normal;
            }
        }

        .grid__row--fixed {
            left: rem($gutterLarge);
            right: rem($gutterLarge);

            span {
                &:after {
                    width: rem($gridMarginLarge);
                    margin-left: rem(-$gridMarginLarge / 2);
                }
            }
        }

        %grid__col--l {
            padding:0 rem($gridMarginLarge / 2);
            display: inline-block;
        }


        %grid__col--l--1 {
            width: (100 / 6) * 1%;
        }

        %grid__col--l--2 {
            width: (100 / 6) * 2%;
        }

        %grid__col--l--3 {
            width: (100 / 6) * 3%;
        }

        // Add half compound grid on
        %grid__col--l--3--c {
            width: calc( #{ ((100 / 6) * 3.5) * 1% } - #{rem(10)});
        }

        %grid__col--l--4 {
            width: (100 / 6) * 4%;
        }

        %grid__col--l--5 {
            width: (100 / 6) * 5%;
        }
    }

    @media screen and (min-width: $bpExtraLarge) {
        .grid__row--fixed {
            left: rem($gutterExtraLarge);
            right: rem($gutterExtraLarge);
        }
    }
