// ====
// Grid
// ====

    // Rows
    // ----
    .grid__row {
        white-space: nowrap;
        margin:0 rem(-$gridMarginSmall);

        > * {
            white-space: normal;
        }
    }


    // Columns
    // ----

    .grid__col {
        padding:0 rem($gridMarginSmall);
        display: inline-block;
    }

    // Responsive
    // ----

    @media screen and (min-width: $bpLarge) {
        .grid__col--l--1 {
            width: (100 / 6) * 1%;
        }
    }
