// ====
// Header
// ====

.header {
    background-color: $colourBrightYellow;
    margin-top: rem(18);
    padding-left: rem($gutterSmall);
    padding-right: rem($gutterSmall);

    .header__text {
        @include visuallyhidden;
    }

    // Responsive
    // ----

    @media screen and (min-width: $bpMedium) {
        margin-top: rem(42);
        padding-left: rem($gutterMedium);
        padding-right: rem($gutterMedium);
    }

    @media screen and (min-width: $bpExtraLarge) {
        padding-left: rem($gutterExtraLarge);
        padding-right: rem($gutterExtraLarge);
    }
}
