// ====
// Header
// ====

.header {
    background-color: $colourBrightYellow;
    margin-top: rem(42);
    padding-left: $gutterSmall;
    padding-right: $gutterSmall;

    .header__text {
        @include visuallyhidden;
    }
}
