// ====
// Home
// ====
.home {

    // Content
    // ----
    .home__content {
        padding: rem($gutterSmall);
        background-color: $colourBrightYellow;
    }
    .home__title {
        color: $colourBrown;
    }
    .heading__highlight {

        //color: $colourBlack;
    }

    // Text animation
    // ----
    $height: 100px;

    .animation__block {
        perspective: 1000px;
        margin: 40px;
    }

    .shape {
        transform-style: preserve-3d;
        position: relative;
        width: 450px;
        height: $height;
        margin: 0 auto;
    }

    .shape__side {
        background-color: $colourBrightYellow;
        position: absolute;
        width: 100%;
        height: 100%;
        border: rem(3) solid $colourBrown;

        text-align: center;

        backface-visibility: hidden;

        &:first-child {
            z-index: 1;
        }
    }

    .shape__text {
        padding: 0;
        margin: 0;
        color: $colourBrown;
        line-height: $height;
        font-size: 3em;
    }

    // Responsive
    // ----
    @media screen and (min-width: $bpLarge) {
        .home__content {
            padding: rem($gutterLarge);
        }
    }
    @media screen and (min-width: $bpExtraLarge) {
        .home__content {
            padding: rem($gutterExtraLarge);
        }
    }
}
