// ====
// Home
// ====
.home {

    // Content
    // ----
    .home__content {
        padding: rem($gutterSmall);
        background-color: $colourBrightYellow;
        overflow: hidden;
    }
    // Screen readers
    .home__content--sr {
        @include visuallyhidden;
    }
    .home__title {
        color: $colourBrown;
        transition: color 400ms ease;
    }
    .heading__highlight {
        color: $colourBlack;
    }

    // Text animation
    // ----
    $height: 100px;

    .animation__block {
        perspective: rem(1000);
        float: left;
        margin-right: rem($gridMarginLarge);
        position: relative;
        &:last-child {
            margin-right: 0;
        }
    }



    .shape {
        transform-style: preserve-3d;
        position: relative;
        width: 450px;
        height: $height;
        margin: 0 auto;
        transition: transform 400ms ease;
    }

    .animation__block:nth-child(1) {
        .shape {
            width: 150px;
        }
    }

    .animation__block:nth-child(2) {
        .shape {
            width: 300px;
        }
    }

    .shape__side {
        background-color: $colourBrightYellow;
        position: absolute;
        width: 100%;
        height: 100%;
        border: rem(3) solid $colourBrown;
        transition: transform 100ms  cubic-bezier(0.680, 0, 0.265, 1), opacity 400ms ease;
        text-align: center;
        backface-visibility: hidden;

        &:nth-child(1) {
            z-index: 1;
            //transform: rotateX(0);
        }

        &:nth-child(2) {
            transform: rotateX(90deg) /*translateY(-$height / 2)*/;
            //top: $height / 2;
        }

        &:nth-child(3) {
            transform: rotateX(180deg);
        }

        &:nth-child(4) {
            transform: rotateX(270deg) /*translateY($height / 2)*/;
            // top: -$height / 2;
        }
    }

    // Shape: highlighted
    // ----

    .shape--highlight {
        .shape__text {
            color: $colourBlack;
        }
    }

    // 3D version (sticks out)
    // ----
    .shape--3d {
        .shape__side {
            &:nth-child(1) {
                transform: rotateX(0) translateZ($height / 2);
            }

            &:nth-child(2) {
                transform: rotateX(90deg) translateZ($height / 2);
            }

            &:nth-child(3) {
                transform: rotateX(180deg) translateZ($height / 2);
            }

            &:nth-child(4) {
                transform: rotateX(270deg) translateZ($height / 2);
            }
        }
    }

    // Shape: show various sides
    // ----

    .shape--show-1 {
        //transform: rotateX(0deg);
    }

    .shape--show-2 {
        transform: rotateX(-90deg * 1);
    }

    .shape--show-3 {
        transform: rotateX(-90deg * 2);
    }

    .shape--show-4 {
        transform: rotateX(-90deg * 3);
    }

    .shape--show-5 {
        transform: rotateX(-90deg * 4);
    }

    .shape--show-6 {
        transform: rotateX(-90deg * 5);
    }

    .shape--show-7 {
        transform: rotateX(-90deg * 6);
    }

    .shape__text {
        padding: 0;
        margin: 0;
        color: $colourBrown;
        line-height: $height;
        font-size: 3em;
    }

    // Responsive
    // ----
    @media screen and (min-width: $bpLarge) {
        .home__content {
            padding: rem($gutterLarge);
        }
    }
    @media screen and (min-width: $bpExtraLarge) {
        .home__content {
            padding: rem($gutterExtraLarge);
        }
    }
}
