// ====
// Layout
// ====

    // Global Layout
    // ----

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .page {
        margin: rem(48) rem($gutterSmall) rem(36);
    }

    img {
    	max-width: 100%;
    }

    // Responsive
    // ----

    @media screen and (min-width: $bpMedium) {
        .page {
            margin-left: rem($gutterMedium);
            margin-right: rem($gutterMedium);
        }
    }
