// ====
// Layout
// ====

    // Global Layout
    // ----

    body {
        margin: 0;
    }

    .page {
        max-width: rem(550);
        margin: rem(36) rem($gutterSmall);
    }

    img {
    	max-width: 100%;
    }

    // Responsive
    // ----

    @media screen and (min-width: $bpMedium) {
        .page {
            margin-left: rem($gutterMedium);
            margin-right: rem($gutterMedium);
        }
    }
