// ====
// Layout
// ====

    // Global Layout
    // ----

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .page {
        padding: rem($gutterSmall);
        max-width: rem($maxWidthPage);
        margin: rem(48) auto rem(36);
        box-sizing: content-box;
    }

    img {
    	max-width: 100%;
    }

    // Responsive
    // ----

    @media screen and (min-width: $bpMedium) {
        .page {
            padding: rem($gutterMedium);
        }
    }

    @media screen and (min-width: $bpLarge) {
        .page {
            padding: rem($gutterLarge);
            border: rem(3) solid $colourLightGrey;
        }
    }
