// ====
// Navigation
// ====

.navigation {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: rem(48);
    position: relative;

    .navigation__list {
        list-style: none;
        margin: 0 rem(-$gridMarginSmall) 0 0;
        padding: 0;
        text-align: right;
        flex: none;
    }

    // Navigation Item
    // ----

    .navigation__item {
        display: inline-block;
        font-family: $fontHeading;
        font-size: $fontSizeBody;
        line-height: 1em;
    }

    // Logo / Home link
    .navigation__item--home {
        position: absolute;
        left:rem(-8);
        top: rem(-12);

        .navigation__link {
            display: block;
            width: rem(72);
            height: rem(84);
            padding: 0;
            background: url(../img/logo.svg) 0 0 no-repeat transparent;
            border-bottom: 0;
        }

        .navigation__link__text {
            @include visuallyhidden;
        }
    }

    // Navigation Link
    // ----

    .navigation__link {
        padding: rem($gridMarginSmall);
        display: block;
        border-bottom: 0;

        &.active {
            .navigation__link__text {
                &:after {
                    background-color:  $colourLinkUnderline;
                }
            }
        }
    }

    .navigation__link__text {
        position: relative;
        display: block;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: transparent;
            transition: background-color 400ms ease;
        }
    }

    // Responsive
    // ----

    @media screen and (min-width: $bpMedium) {

        height: rem(102);

        .navigation__item {
            font-size: $fontSizeH3Large;
        }

        // Logo / Home link
        .navigation__item--home {
            left:rem(-15);
            top: rem(-15);

            .navigation__link {
                width: rem(160);
                height: rem(135);
            }
        }
    }
}
