// ====
// Variables
// ====

    // Grid
    // ----

    $gutterSmall: 24;
    $gutterMedium: 48;
    $gutterLarge: $gutterMedium;
    $gutterExtraLarge: $gutterMedium * 2;
    $gridMarginSmall: 12;
    $gridMarginMedium: 24;
    $gridMarginLarge: 24;
    $maxWidthPage: 740;
    $maxWidthOuterPage: 1600;

    // Font size
    // ----

    $fontSizeBody: 12;
    $fontSizeButton: 10;
    $fontSizeH1ExtraExtraLarge: 81;
    $fontSizeH1ExtraLarge: 54;
    $fontSizeH1Large: 60;
    $fontSizeH2Large: 40;
    $fontSizeH3Large: 27;
    $fontSizeH4Large: 18;
    $fontSizeH5Large: 12;
    $fontSizeH6Large: 12;

    $fontSizeH1Small: 27;
    $fontSizeH2Small: 22;
    $fontSizeH3Small: 18;
    $fontSizeH4Small: 15;

    // Font families
    // ----
    $fontBody: "Input Sans", monospace;
    $fontHeading: "Boing", sans-serif;

    // Line height
    // ----

    $lineHeightBody: 18;

    // Colours
    // ----

    $colourWhite:#FFF;

    $colourBrightYellow: #FFF200;
    $colourJadedYellow: #E0D500;
    $colourBrown: #8D8940;
    $colourLightBrown: #B3B080;

    $colourBlack: #333;
    $colourDarkGrey: #666;
    $colourMidGrey: #979797;
    $colourMidLightGrey: mix($colourMidGrey, #E6E6E6, 50%);
    $colourLightGrey: #E6E6E6;

    $colourLink: $colourBlack;
    $colourLinkUnderline: rgba($colourBlack, 0.5);

    // Breakpoints
    // ----

    $bpMedium: rem(600);
    $bpLarge: rem(932);
    $bpExtraLarge: rem(1200);
    $bpExtraExtraLarge: rem(1400);
