// Font size
$fontSizeBody: 12;
$fontSizeH1ExtraExtraLarge: 81;
$fontSizeH1ExtraLarge: 54;
$fontSizeH1Large: 36;
$fontSizeH2Large: 30;
$fontSizeH3Large: 24;
$fontSizeH4Large: 16;
$fontSizeH5Large: 11;

// Font families
$fontBody: "Input Sans", monospace;
$fontHeading: "Boing", sans-serif;

// Line height
$lineHeightBody: 18;

// Colours
$colourLink: #000;
$colourLinkUnderline: rgba(#000, 0.5);
