<ul>
	<li><a href="#/" {{#if homeActive}}class="active"{{/if}}>Home</a></li>
	<li><a href="#/work" {{#if workActive}}class="active"{{/if}}>Work</a></li>
{{!-- 	<li><a href="#/words" {{{#if wordsActive}}class="active"{{/if}}>Words</a></li> --}}
	<li><a href="#/who" {{#if whoActive}}class="active"{{/if}}>Who</a></li>
</ul>